{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block header %}
  <h1 class="text-2xl font-semibold text-blue-700">Home Page</h1>
{% endblock %}

{% block content %}
    <article class="mt-6 p-4 border border-gray-200 rounded bg-gray-50">
      <header>
        <hr class="my-2">
        <h2 class="text-xl font-semibold text-gray-800">Welcome Home</h2>
        <hr class="my-2">
      </header>
    </article>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
